<div class="demo-headline" style="padding: 0px;">
    <h2 class="demo-logo text-center"></h2>
</div>
<!-- /demo-headline -->
<div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8 col-sm-8">
        <div class="pricingTable">
            <div class="pricingTable-header">
                <h3 class="title">Contact List</h3>
            </div>

            <div class="pricing-content table-responsive">
                <div class="pull-left">
                    <button class="btn btn-primary" (click)="onAddContactClicked()">Add Contact</button>
                </div>
                <h4 *ngIf="isFetching">Loading....</h4>
                <h4 *ngIf="loadedContacts.length < 1 && !isFetching">No contact available!</h4>
                <table class="table table-hover table-borderedd" *ngIf="loadedContacts.length >= 1 && !isFetching" [mfData]="loadedContacts" #mf="mfDataTable">
                    <thead class="thead-light">
                        <!-- <tr> -->
                            <th class="thead col-1" ><mfDefaultSorter by="id">#</mfDefaultSorter></th>
                            <th class="thead col-md-2" scope="col" ><mfDefaultSorter by="fullName">Name</mfDefaultSorter></th>
                            <th class="thead col-md-2" scope="col" ><mfDefaultSorter by="phoneNumber">Phone Number</mfDefaultSorter></th>
                            <th class="thead col-md-4" scope="col" ><mfDefaultSorter by="address">Address</mfDefaultSorter></th>
                            <th class="thead col-1" scope="col" ><mfDefaultSorter by="id"></mfDefaultSorter></th>
                            <th class="thead col-1" scope="col" ><mfDefaultSorter by="id"></mfDefaultSorter></th>
                        <!-- </tr> -->
                    </thead>
                    <tbody>
                        <tr *ngFor="let contact of mf.data">
                            <th class="thead col-1" scope="row">{{contact.id}}</th>
                            <td class="td" scope="row">{{contact.fullName}}</td>
                            <td class="td" scope="row">{{contact.phoneNumber}}</td>
                            <td class="td" scope="row">{{contact.address}}</td>
                            <td class="td" scope="row"><button class="btn-sm btn-primary" (click)="onEditContactClicked(contact)">Edit</button></td>
                            <td class="td" scope="row"><button class="btn-sm btn-danger" (click)="onDeleteContact(contact.id)">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <app-addcontactmodal></app-addcontactmodal>
</div>